{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}个人信息中心{% endblock %}
{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet"/>{% endblock %}

{% block content %}
<div class="container formback">
    <div class="loginform jumbotron">
        <h3>个人信息中心</h3>
        <form class='form-group' action="/customer/show_info/" method="POST">
            {% csrf_token %}
            <div class="card-header">
                <h5 align="left">用户名：{{ request.session.user_name }}</h5>
                <h5 align="left">电话：{{ request.session.tel }}</h5>
                <h5 align="left">校区：{{ request.session.district }}</h5>
                <h5 align="left">校内建筑：{{ request.session.building }}</h5>
                <h5 align="left">门牌号：{{ request.session.room }}</h5>
                <button type="reset" class="btn btn-default" href="/customer/info/">重置</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}